*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box !important;
}

html,body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}
.c-pointer:hover{
    cursor: pointer !important;
}
.nav-div:last-child{
 position: relative;
}
.link{
    all: unset;
}
.link:hover{
    all: unset;
}
.nav-div{
    align-items: center !important;
    justify-content: center;
    list-style-type: none;
}
p {
    margin: 0px !important;
    padding: 0px !important;
 }
 

 @media only screen and (max-width: 1218px){
  .nav-div:nth-child(2) > *:not(:nth-child(4)){
    display: none !important;
  }
}
@media only screen and (max-width: 520px){
     .nav-div:nth-child(2){
      display: none !important;
  } 
}
.h100{
    height: 100vh;
}
.bg-r{
    background-color: rgb(164, 198, 252);
}
.bgRed{
    background-color: #d1411e !important;
}
.bg-red{
    z-index: -10;
    /* width: 100%; */
    position: relative !important;
    background-color: #d1411e !important;
}
.arrowSign:first-child,.arrowSign:last-child{
    position: absolute;
    z-index: 20;
    top: calc((100vh - 100px) / 2 );
}

.arrowSign:last-child{
    right: 0;
}
.arrowSign:first-child{
    left: 0;
}

.img-wrapper{
    width: 300vw;
    height: 100vh;
    transition: all 1.5s ease-in-out ;
}
.img-container{
    width: 100vw;
    height:100vh;
}
.p-relative{
    position: relative !important;
}
.img-parent{
    width: 100%;
    height: 300px;
}
.text-red{
    color: #d1411e !important;
}
.p-card{
    width: 250px;
}
.top100{
    margin-top: 110px !important;
    min-height:80vh ;
}
.badge{
    position: absolute;
    top:-8px;
    right: -27px;
    background-color: green;
}
.sizeActive{
    background-color: #e04d29;
    border-radius: 50%;
}
#card{
    width: 100px;
}
#card:focus{
    outline: 0 !important;
}
.text-green{
    color: rgb(20 184 166) !important;
}
#pizzaList{
    position: absolute;
    visibility: hidden;
    top: -110px;
    z-index: 100;
}

/* .done{} */
.inProgress{
    animation: inProgress 1s ease infinite alternate;
}
@keyframes inProgress {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.undone{
    opacity: 0.3;
}
.undone > .checkedIcon , .inProgress > .checkedIcon{
    display: none !important;
}